/*
  IAG Virtual Landing Page
 
  ID: fonts.css 24/05/2017 21:13:21 gbarlow@iagvirtual.eu $
 
  This program is under the copyright of this author: you cannot redistribute
  it and/or modify it under the terms of the The Copyright, Designs and Patents Act 1988.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 
  @package   IAG Virtual Landing Page
  @version   1.0.0
  @author    George Barlow
  @copyright Copyright (c) 2017 by IAG VIRTUAL. All rights reserved.
*/
      
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}


